* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  
}

.klim {
 width: 675;
 height: 446; 
}



.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
} 

.final {
  margin: 10px 15px;
}

.text {
  margin: 10px 15px;
}
